{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="./home">Page d'Accueil</a>
        </li>
        <li class="breadcrumb-item active">Vols</li>
    </ol>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-2">
            {{ form_row(form.departure, { 'attr': {'class': 'form-control', 'placeholder': "First name"}}) }}
        </div>
        <div class="col-2">
            {{ form_row(form.arrival, { 'attr': {'class': 'form-control', 'placeholder': "First name"}}) }}
        </div>
        <div class="col-2">
            {{ form_row(form.departureDate, { 'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-2">
            {{ form_row(form.arrivalDate, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-2">
            <button class="btn btn-primary btn-block" type="submit">Ajouter</button>
        </div>
        <div class="col-2"></div>
    </div>
    {{ form_end(form) }}
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> LISTE DES VOLS
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Départ</th>
                                <th>Arrivé</th>
                                <th>Date départ</th>
                                <th>Date arrivé</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Départ</th>
                                <th>Arrivé</th>
                                <th>Date départ</th>
                                <th>Date arrivé</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for flight in flights %}
                                <tr>
                                    <td>{{ flight.departure }}</td>
                                    <td>{{ flight.arrival }}</td>
                                    <td>{{ flight.departureDate }}</td>
                                    <td>{{ flight.arrivalDate }}</td>
                                    <td>
                                        <a class="buttonicon" data-toggle="modal" data-target="#updateProduct"><i
                                                    class="fa fa-edit"></i></a>
                                        <a class="buttonicon" data-toggle="modal" data-target="#deletemodal"> <i
                                                    class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
